.footer-top {
	width: 100%;
	height: auto;
	background-color: black;
	color: white;
	padding-bottom: 70px;
}

#title-footer h2 {
	font-family: 'Montserrat Hairline', sans-serif;
	font-size: 55px;
	padding: 40px 0;
}

.fa-stack .fa-stack-1x {
	color: black;
}

ul {
	margin-left: 0 !important;
}

.contacts {
	padding-right: 110px;
	font-family: 'Montserrat Light', sans-serif;
}

.fa-ul li {
	margin-bottom: 25px;
}

span.fa-stack:hover, span.fa-stack:focus {
	color: #ffcb93;
}

/*submit*/

#submit-box {
	font-family: 'Montserrat Light', sans-serif;
}

#submit-row.row {
	width: 70%;
}

#submit-row div hr {
	margin: 3px 15px 25px 15px;
}

.optin {
	outline: 0;
	border-color: black;
	background-color: black;
	margin-bottom: 5px;
	padding: 0px 15px 10px 15px;
	text-align: left;
	text-overflow: initial;
	overflow: hidden;
}

.title-input {
	margin: 0;
	padding-left: 15px;
	opacity: 0;
	-webkit-transition: all .3;
	   -moz-transition: all .3;
	    -ms-transition: all .3;
	     -o-transition: all .3;
	        transition: all .3;
}

.btn-footer {
	margin-left: 15px;
	border-radius: 17px;
	padding: 7px 30px;
	text-align: center;
}

.btn-footer:hover, .btn-footer:active, .btn-footer:focus {
	background-color: #ffcb93;
	border-color: #ffcb93;
}

.fa-check.fa-4x {
	margin-left: 10px;
}

#submit-row #status-text{
	margin: 15px 0px;
	font-size: 30px;
}

#newMessage-btn{
	margin-top: 5px;
	margin-left: 0;
}

.footer-bottom {
	width: 100%;
	height: auto;
	padding: 30px 0px;
}

.footer-bottom p:first-child {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0;
}

.footer-bottom p:last-child {
	opacity: .7;
	margin-bottom: 0;
}



