.content-img{
	position: relative;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 30px;
}

.content-img .caption {
	background-color: #ffcb93;
	position: absolute;
	width: 300px;
	height: 300px;
	bottom: -50px;
	left: 32px;
	opacity: 0;
	-webkit-transition: all 0.4s ;
	   -moz-transition: all 0.4s ;
	    -ms-transition: all 0.4s ;
	     -o-transition: all 0.4s ;
	        transition: all 0.4s ;
}

.content-img .caption h2 {
	margin-top: 80px;
	font-weight: bold;
}

.content-img .caption hr {
	text-align: center;
	width: 50px;
	background-color: black;
	border-top: 2px solid #23527c;;
}

.content-img .caption p {
	font-family: 'Montserrat Light', sans-serif;
}

.content-img img {
	opacity: 1;
}

.content-img:hover img{
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition: all 0.8s;
	   -moz-transition: all 0.8s;
	    -ms-transition: all 0.8s;
	     -o-transition: all 0.8s;
	        transition: all 0.8s;
	opacity: .66;     
}

.content-img:hover .caption {
	opacity: 1;
	bottom: 32px;
}


#btn-work-learn-more {
	margin: 10px;
	font-family: 'Montserrat Light', sans-serif;
	border-radius: 15px;
	border-color: black;
	color: white;
	background-color: black;
	position: absolute;
	top: 100%;
	left: 45%;
	right: auto;
}

#btn-work-learn-more:hover, #btn-work-learn-more:active {
	background-color: #ffcb93;
	border-color: #ffcb93;
	color: black;
} 

.container {
	position: relative;
}
