*{
	box-sizing: border-box;
}

/*@font-face {
	font-family: 'Montserrat Light';
	src: url('../fonts/Montserrat-Light.tff');
}*/

@font-face {
	font-family: 'Montserrat Hairline';
	src: url('../fonts/Montserrat-Hairline.ttf');
}

@font-face {
	font-family: 'Montserrat Bold';
	scr: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.otf') format('truetype');
}

@font-main: 'Montserrat Light', sans-serif;
@font-title: 'Montserrat Hairline', sans-serif;
@font-bold: 'Montserrat Bold', sans-serif;

@color-main: #ffcb93;

/*@font-face {
	font-family: 'Montserrat Light';
	scr: url('../fonts/Montserrat-Light.ttf');
}*/

body{
	font-family: 'Montserrat', sans-serif;
}


.container {
	padding: 0;
}

#wrapper {
/*	margin-left: 60px;
	margin-right: 60px;
	margin-top: 30px;*/
	margin: 0;
}
/*
navbar css */

.navbar-header > .navbar-brand {
	font-size: 20px;
	font-weight: bold;
	padding-left: 0;
	color: black;
}

.navbar-nav > li > a {
	color: #D7DBDD;
	font-size: 14px;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: white;
	color: #2E4053;
}

.big-space {
	padding: 45px;
}

/*size img */
.img-364-590 {
	max-height: 100%;
	max-width: 100%;
	width: 364px;
	height: 590px;
}

.img-756-480 {
	max-height: 100%;
	max-width: 100%;
	width: 756px;
	height: 480px;
}

.img-364-364 {
	max-height: 100%;
	max-width: 100%;
	width: 364px;
	height: 364px;
}

.img-952-618 {
	max-height: 100%;
	max-width: 100%;
	width: 952px;
	height: 618px;
}
/*
slide */
.carousel-indicators .active {
	background-color: black;
}

.carousel-indicators li {
	border: 1px solid black;
}

.title {
	font-size: 55px;
	font-family: 'Montserrat Hairline', sans-serif;
}

.col-5 {
	padding: 0;
	width: 20%;
	float: left;
}

hr{
	border-top: 1px solid #D7DBDD;
}

footer hr{
	margin-bottom: 0;
}

.margin-top-80 {
	margin-top: 80px;
}

.margin-top-120{
	margin-top: 120px;
}

body {
	background-color: #F2F7FA;
}