#slider-first {
	position: relative;
	margin: auto;
	text-align: center;
	height: 350px;
	width: 100%;
}

.carousel-inner {
	height: 350px;
}

#mySlide {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffcb93;
	height: 350px;
	width: 100%
}

#mySlide > h2{
	padding-top: 80px;
}

#mySlide > hr {
	text-align: center;
	width: 30px;
	background-color: black;
	border-top: 2px solid black;
}

#mySlide > p {
	line-height: 10px;
	font-size: 15px;
}

#mySlide > p > button {
	font-family: 'Montserrat Light', sans-serif;
	border-radius: 15px;
	background-color: black;
	border-color: black;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
}

#mySlide p button:hover, #mySlide p button:active{
	border-color: rgba(255, 160, 122, 0.68) !important;
	background-color: rgba(255, 160, 122, 0.68) !important;
	color: black;
	cursor: pointer;
}

#indicators-slide-first {
	left: 98%;
	right: 2%;
	top: 50%;
	bottom: 50%;
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}






/*#dot1{
 top: 50%;
 right: 0;
}*/

/*#dot2{
  top: 5%;
  right: 0;
}

#dot3{
  top: 52%;
  right: 0;
}*/

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideshow-container > .fade {
  -webkit-animation-name: fade ; 
  -webkit-animation-duration: 1.5s;
  animation-name: fade ;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*services*/
/*#services {
	 font-family: 'Montserrat Hairline', arial;
*/

.service .container {
	padding-left: 0px;
}

#title-services h2, #title-gallery h2{
	margin-bottom: 80px;
	font-size: 55px;
	font-family: 'Montserrat Hairline', sans-serif;
}



.service .container .img-responsive img {
	max-height: 500px;
	width: 100%;
}

.service .container .content-service {
	padding-left: 60px;
}

.service .container .content-service > .title {
	text-decoration: none;
	color: black;
}

.service .container .content-service div:hover,
.service .container .content-service div:active{
	color: #F39C12;
	cursor: pointer;
	border: none;
}

.service .container .content-service > div > h4 {
	font-size: 23px;
	font-family: 'Montserrat Light', sans-serif;
	font-weight: lighter;
	margin-bottom: 0;
	margin-top: 0;
}

.service .container .content-service > div > h2 {
	font-size: 50px;
	font-weight: bold;
	margin-top: 0;
}

.service .container .content-service > p {
	font-family: 'Montserrat Light', sans-serif;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
	color: #717D7E;
}

.service .container .content-service > hr {
	border-top: 2px solid black;
	width: 50px;
	margin-left: 1px;
}

.service .container .content-service button {
	font-family: 'Montserrat Light', sans-serif;
	border-radius: 15px;
	border-color: #D7DBDD;
	background-color: white;
}

.content-service button:hover{
	border-color: black !important;
}

/*art installation */
#content-art {
	padding-left: 0 !important;
}

#art-installation .container div img {
	margin-left: 52px;
}

.img-responsive {
	padding: 12px 0px;
}

/*gallery*/

#gallery {
	position: relative;
}

#gallery div div {
	padding: 0px 5px;
}

#gallery div div div{
	padding: 0px 5px;
}

#gallery button {
	margin: 30px;
	font-family: 'Montserrat Light', sans-serif;
	border-radius: 15px;
	border-color: black;
	color: white;
	background-color: black;
	position: absolute;
	top: 98%;
	left: 43%;
	right: 57%;
}

#gallery button:hover, #gallery button:active {
	background-color: white;
	color: black;
} 

/*slideshow best team1*/

#best-team {
  padding: 0;
  margin: 60px 0px 0px 0;
  width: 100%;
}

#best-team .container {
	padding: 0;
	width: 100%;
}

#wrapper-slide-bestTeam {
	height: 580px;
	width: 100%;
	background-color: #ffcb93;
}

#mySlide2 {
	background-color: #ffcb93;
}

#mySlide2 #title-slide h2{
	font-family: 'Montserrat Hairline', sans-serif;
	font-size: 55px;
	padding: 40px 0;
}

.member {
	width: 180px;
	margin: 10px 50px;
	text-align: center;
}

.members {
	width: 1000px;
	margin-left: 250px;
}

.information-member hr{
	width: 40px;
	border-top: 2px solid black;
	margin: 12px auto;
}

.carousel-control .right, .carousel-control .left{
	background-image:  !important;
}


/*best say*/
#best-say {
	padding: 0;
}

#wrapper-bestSay {
	height: 600px;
	background-color: white;
}

#mySlide3 {
	background-color: white;
}

#mySlide3 #title-slide h2{
	font-family: 'Montserrat Hairline', sans-serif;
	font-size: 55px;
	padding: 40px 0;
}

#review {
	margin-bottom: 40px;
}

#review .row #member .information-member h3{
	margin-top: 0;
	font-size: 32px;
}

#review .row #member .information-member hr{
	text-align: right;
	margin-right: 0;
}

#review .row #member .information-member{
	padding-right: 40px;
}

#review .row #text-review {
	padding-right: 200px;
	padding-top: 5px;
}

#review .row #text-review p {
	font-family: 'Montserrat Light', sans-serif;
	color: #99A3A4;
	line-height: 25px;
}























