#quote-work hr, #content-work hr{
	width: 20%;
	border-top: 1px solid black;
	margin-left: 0;
	margin-right: 0;
}

#quote-work p{
	font-family: 'Montserrat Bold', sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 1.1em;
}

#content-work p {
	font-family: 'Montserrat Light', sans-serif;
	opacity: .7;
	margin-bottom: 15px;
}

a.fa-stack {
	color: black;
}

.fa-stack .fa-stack-1x {
	color: white;
}

.fa-stack .fa-stack-1x:hover {
	color: black;
}



