#header-hr {
	margin: 50px 0;
}

footer hr{
	margin-top: 50px;
	margin-bottom: 0;
}

.best-price {
	min-height: 200px;
	background-color: #000;
	color: #fff;
	font-family: 'Montserrat Light', sans-serif;
}

.best-price {
	padding-top: 70px;
}

.best-price p {
	font-size: 30px;
}

.best-price .dash {
	margin: 0 25px;
}

.best-price .event {
	color: #8e8e8e;
}

@media (max-width: 768px) {
	.best-price p {
		font-size: 25px;
		text-align: center;
		margin-bottom: 15px;
	}
}

@media (max-width: 480px) {
	.best-price p {
		font-size: 17px;
		text-align: center;
		margin-bottom: 15px;
	}
}





/*#best-price {
	color: white;
	background-color: black;
	padding: 40px 40px;
}

#event .fa-usd {
	margin-left: 90px
}

#event hr{
	position: absolute;
	width: 10%;
}

#event span{
	font-size: 25px;
}

#event span {
	font-family: 'Montserrat Light', sans-serif;
}

#box-best-price .text-right {
	font-family: 'Montserrat Light', sans-serif;
	font-size: 1.3em;
	margin: 5px 0 0 0;
}*/