header {
	margin: 0;
	padding: 0;
}
/*
statistics */

#statistics {
	height: auto;
	padding-bottom: 30px;
}

.statistic hr {
	width: 10%;
	border-top: 2px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
}

.satistic h2 {
	font-weight: bold;
}
/*
instagram*/

#instagram h2 {
	margin: 50px 0;
}

#button-follow {
	margin: 20px 0;
	margin-left: 47%;
	margin-bottom: 40px;
}