#slider-first {
	position: relative;
	margin: auto;
	text-align: center;
	height: 350px;
	width: 100%;
}

.carousel-inner {
	height: 350px;
}

#mySlide {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffcb93;
	height: 350px;
	width: 100%
}

#mySlide > h2{
	padding-top: 80px;
}

#mySlide > hr {
	text-align: center;
	width: 30px;
	background-color: black;
	border-top: 2px solid black;
}

#mySlide > p {
	line-height: 10px;
	font-size: 15px;
}

#mySlide > p > a {
	font-family: 'Montserrat Light', sans-serif;
	border-radius: 15px;
	background-color: black;
	border-color: black;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
}

#mySlide p a:hover, #mySlide p a:active{
	border-color: rgba(255, 160, 122, 0.68) !important;
	background-color: rgba(255, 160, 122, 0.68) !important;
	color: black;
	cursor: pointer;
}

#indicators-slide-first {
	left: 98%;
	right: 2%;
	top: 50%;
	bottom: 50%;
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}






/*#dot1{
 top: 50%;
 right: 0;
}*/

/*#dot2{
  top: 5%;
  right: 0;
}

#dot3{
  top: 52%;
  right: 0;
}*/

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideshow-container > .fade {
  -webkit-animation-name: fade ; 
  -webkit-animation-duration: 1.5s;
  animation-name: fade ;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*services*/
/*#services {
	 font-family: 'Montserrat Hairline', arial;
*/


/*gallery*/

/*#gallery {
	position: relative;
}

#gallery div div {
	padding: 0px 5px;
}

#gallery div div div{
	padding: 0px 5px;
}*/










							















